[runtime]
environment="local"

[server]
host="localhost"
port="8080"

[database]
user="postgres"
host="localhost"
port="5432"
dbname="octopusdb"
password="postgres"
sslMode="disable"
connectionTimeout="30000"
statementTimeout="30000"
idleInTransactionSessionTimeout="30000"
migrationDir="migrations/sql"